# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Logs and databases
*.log
*.sqlite3
*.db
*.sqlite3-journal

# Temporary files
*.tmp
*.swp
*.swo
*~

# System files
.DS_Store
Thumbs.db

# Bundler
.bundle/
vendor/

# Node modules
node_modules/

# Obsidian
.obsidian/